doctype html
html
    head
        title= '人人币交易平台-商品详情'
        script(type="text/javascript",src="/public/javascripts/jquery.pack.js")
        script(type="text/javascript",src="/public/javascripts/jQuery.blockUI.js")
        script(type="text/javascript",src="/public/javascripts/jquery.SuperSlide.js")
        script(type="text/javascript",src="/public/javascripts/cart.js")
        script(type="text/javascript",src="/public/javascripts/jquery.fly.min.js")
        //[if lte IE 9]
        script(type="text/javascript",src="/public/javascripts/requestAnimationFrame.js")
        //[endif]
        link(rel='stylesheet', href='/public/stylesheets/all.css')
        link(rel='stylesheet', href='/public/stylesheets/style.css')
    body
        .w.l.top
            .c.w1016.f12.lh26
                ul.l
                    li欢迎访问人人币交易平台！
                ul.r
                    li
                        a加入收藏夹
                    li
                        a设为主页
        div.c.w1016
            div.w.l
                div.logo.l
                    img(alt="nofollow", src="/public/images/logo.png")
                div.search.r
                    div.seak.l.bga.bgc.bgn.f12
                        em 商品
                        input.keyword.nbg.nbr(type=text,placeholder="请输入您要搜索的商品")
                        input#btnSerach.seadp.l.nbg.nbr.cup(type=submit)
        div.w.l.nav.bga.bgc
            div.w1016.c
                ul.w.l.j-nav.f14.fwb.lili.lile
                    li
                        a(href="/")首页
                    li
                        a(href="/me")个人中心
                    li
                        a(href="/orderList")历史订单
                    li
                        a#cart(href="/cart",style="position: relative;")购物车
        div.block10.w.l
        div.w1016.c
            div.w.l.goodshow
                div.w.l.typelist
                    div.pos.l.f12
                        a(href="/")人人币交易平台首页
                        &nbsp;&gt;&nbsp;
                        a(href='#')="购物车"


