.w.l.top
  .c.w1016.f12.lh26
    ul.l
      li欢迎访问人人币交易平台！

div.c.w1016
  div.w.l
    div.logo.l
      img(alt="nofollow", src="/public/images/logo.png")
    div.search.r
      div.seak.l.bga.bgc.bgn.f12
        em 商品
        form(action="/search")
          input.keyword.nbg.nbr(type=text,placeholder="请输入您要搜索的商品",name="val")
          input.seadp.l.nbg.nbr.cup(type="submit",value="")
div.w.l.nav.bga.bgc
  div.w1016.c
    ul.w.l.j-nav.f14.fwb.lili.lile
      li
        a(href="/")首页
      li
        a(href="/me")个人中心
      li
        a#cart(href="/cart",style="position: relative;")购物车