<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
    <title>酷衣轩硅胶文胸网-作品展示</title>
    <script type="text/javascript" src="js/jquery.pack.js"></script>
    <script type="text/javascript" src="js/jQuery.blockUI.js"></script>
    <script type="text/javascript" src="js/jquery.SuperSlide.js"></script>
    <link href="css/all.css" rel="stylesheet" type="text/css"/>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>

</head>
<body>
<div class="w l top">
    <div class="c w1016 f12 lh26">
        <ul class="l">
            <li>欢迎访问酷衣轩官网！</li>
        </ul>
        <ul class="r">
            <li><a href="">加入收藏夹</a></li>
            <li><a href="">设为主页</a></li>
        </ul>
    </div>
</div>
<div class="c w1016">
    <div class="w l">
        <div class="logo l"><img src="images/logo.gif" alt="返回酷衣轩"></div>
        <div class="search r">
            <div class="seak l bga bgc bgn f12"><em>结婚</em>
                <input type="text" class="keyword nbg nbr" value="请输入您要搜索的结婚">
                <input type="submit" class="seadp l nbg nbr cup" value="">
                <input type="submit" class="seapp l nbg nbr cup" value="">
            </div>
        </div>
    </div>
</div>
<div class="w l nav bga bgc">
    <div class="w1016 c">
        <ul class="w l j-nav f14 fwb lili lile">
            <li><a href="">首页</a><em></em></li>
            <li><a href="">商家分类</a><em></em></li>
            <li><a href="">结婚社区</a><em></em></li>
            <li><a href="">会员专区</a><em></em></li>
            <li><a href="">结婚资讯</a><em></em></li>
            <li><a href="">喜婚团</a><em></em></li>
            <li><a href="">结婚问答</a><em></em></li>
            <li><a href="">酷衣轩</a><em></em></li>
        </ul>
    </div>
</div>
<div class="block10 w l"></div>
<div class="w1016 c">
    <div class="w l goodshow">
        <div class="pos l f12"><a href="">酷衣轩首页</a> &gt; <a href="">文胸</a> &gt; 共<em>18万</em>件宝贝</div>
        <div class="w l good_info mtop10">
            <div class="title w l">
                <h1>酷衣轩结婚资讯图片标题酷衣轩结婚结婚资讯图片标题</h1>
                <label>图片标题酷衣轩结婚资讯图片标题</label>
            </div>
            <div class="good_tu l">
                <div class="tabBox w l">
                    <div class="hd l">
                        <ul>
                            <li class="on"><img src="images/ad1.jpg"></li>
                            <li class="mtop6"><img src="images/ad2.jpg"></li>
                            <li class="mtop6"><img src="images/ad3.jpg"></li>
                            <li class="mtop6"><img src="images/ad4.jpg"></li>
                            <li class="mtop6"><img src="images/ad1.jpg"></li>
                        </ul>
                    </div>
                    <div class="bd l">
                        <ul>
                            <li><img width="400" height="400" src="images/ad1.jpg"></li>
                            <li><img width="400" height="400" src="images/ad2.jpg"></li>
                            <li><img width="400" height="400" src="images/ad3.jpg"></li>
                            <li><img width="400" height="400" src="images/ad4.jpg"></li>
                            <li><img width="400" height="400" src="images/ad1.jpg"></li>
                        </ul>
                    </div>
                </div>
                <!-- tabBox -->
                <script type="text/javascript">
                    jQuery(".tabBox").slide({mainCell: ".bd ul"});
                </script>
                <div class="fx w l"><!-- Baidu Button BEGIN -->
                    <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
                        <span class="bds_more">分享到：</span>
                        <a class="bds_tsina"></a>
                        <a class="bds_qzone"></a>
                        <a class="bds_tqq"></a>
                        <a class="bds_renren"></a>
                        <a class="bds_t163"></a>
                        <a class="bds_bdxc"></a>
                        <a class="bds_douban"></a>
                        <a class="bds_tieba"></a>
                        <a class="bds_tqf"></a>
                        <a class="bds_bdhome"></a>
                        <a class="bds_qq"></a>
                        <a class="bds_huaban"></a>
                        <a class="bds_tuita"></a>
                        <a class="shareCount"></a>
                    </div>
                    <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=0"></script>
                    <script type="text/javascript" id="bdshell_js"></script>
                    <script type="text/javascript">
                        document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date() / 3600000)
                    </script>
                    <!-- Baidu Button END --></div>
            </div>
            <div class="good_attr l">
                <p class="w l lh26">
                    <span>商品品牌:<a href="">酷衣轩品牌</a></span> <span class="pa10">商品编号:100000002</span><br>
                    <span class="gar_jg"><label>售价:</label><i>￥</i><em>289.00</em></span><br>
                    <span>市场价:</span><span class="shan"><i>￥</i><em>586</em></span><br>
                    <span class="gar_jf">通过本站购买可获取<em>500</em>酷币<a href="">酷币有什么用？</a></span><br>
                    <span class="gar_pj">用户评价:(已经有<em>30</em>个人评价)</span><br>
                </p>

                <p class="p_sx l mtop5">
                    <span>人气指数:<em>1999</em></span>
                </p>
                <div class="w l gms"><span class="gmbtn" id="gwbtn"></span><span class="gtbbtn" id="gwtbbtn"></span>
            </div>
            </div>
        </div>
        <div class="good_con w l">
            <div class="good_xg l">
                <div class="l w188 f12 " id='history_div'>
                    <p class="dpbt">浏览历史</p>
                    <ul id='history_list'>
                        <li><a href="goods-143.html" target="_blank"><img
                                src="http://www.68cmsmoban.com/images/201307/thumb_img/143_thumb_G_1372769760167.jpg"
                                alt="防紫外线防晒衣 长袖透明正品开衫超薄外套俊军防晒服 夏女防晒衫" class="B_blue"/></a>

                            <p class="hisbt"><a href="goods-143.html" target="_blank"
                                                title="防紫外线防晒衣 长袖透明正品开衫超薄外套俊军防晒服 夏女防晒衫">防紫外线防晒衣 长袖透明正品开衫超薄外套俊军防晒服
                                夏女防晒衫</a></p>

                            <p>本店售价：<em>￥48.9</em>

                            <p></li>
                        <li><a href="goods-165.html" target="_blank"><img
                                src="http://www.68cmsmoban.com/images/201307/thumb_img/165_thumb_G_1372780460537.jpg"
                                alt="韩版正品防晒服女 泡泡袖圆领防晒衣修身短外套 透明拉链防紫外线 个性修身防晒衣" class="B_blue"/></a>

                            <p class="hisbt"><a href="goods-165.html" target="_blank"
                                                title="韩版正品防晒服女 泡泡袖圆领防晒衣修身短外套 透明拉链防紫外线 个性修身防晒衣">韩版正品防晒服女 泡泡袖圆领防晒衣修身短外套
                                透明拉链防紫外线 个性修身防晒衣</a></p>

                            <p>本店售价：<em>￥89.0</em>

                            <p></li>
                        <li><a href="goods-206.html" target="_blank"><img
                                src="http://www.68cmsmoban.com/images/201307/thumb_img/206_thumb_G_1373040942717.jpg"
                                alt="(爆款)童装男童夏装2013新款儿童防晒衣男童宝宝防晒衣服超薄紫外线外套" class="B_blue"/></a>

                            <p class="hisbt"><a href="goods-206.html" target="_blank"
                                                title="(爆款)童装男童夏装2013新款儿童防晒衣男童宝宝防晒衣服超薄紫外线外套">(爆款)童装男童夏装2013新款儿童防晒衣男童宝宝防晒衣服超薄紫外线外套</a>
                            </p>

                            <p>本店售价：<em>￥59.0</em>

                            <p></li>
                        <li><a href="goods-218.html" target="_blank"><img
                                src="http://www.68cmsmoban.com/images/201307/thumb_img/218_thumb_G_1373174332666.jpg"
                                alt="2013夏装女装新款韩版花边领泡泡袖高档防晒服 Landwintery品牌防紫外线防晒衣" class="B_blue"/></a>

                            <p class="hisbt"><a href="goods-218.html" target="_blank"
                                                title="2013夏装女装新款韩版花边领泡泡袖高档防晒服 Landwintery品牌防紫外线防晒衣">2013夏装女装新款韩版花边领泡泡袖高档防晒服
                                Landwintery品牌防紫外线防晒衣</a></p>

                            <p>本店售价：<em>￥158.0</em>

                            <p></li>
                        <li><a href="goods-261.html" target="_blank"><img
                                src="http://www.68cmsmoban.com/images/201308/thumb_img/261_thumb_G_1377273608391.jpg"
                                alt="哥弟2013夏装防紫外线开衫防晒衣" class="B_blue"/></a>

                            <p class="hisbt"><a href="goods-261.html" target="_blank" title="哥弟2013夏装防紫外线开衫防晒衣">哥弟2013夏装防紫外线开衫防晒衣</a>
                            </p>

                            <p>本店售价：<em>￥78.0</em>

                            <p></li>
                        <div id="clear_history" class="zjuz lh26"><a onclick="clear_history()">[清空]</a></div>
                    </ul>
                </div>

            </div>
            <div class="good_xx l">
                <ul class="basicTitle">
                    <li class="current" id="details"><span>商品详情</span></li>
                    <li id="comments"><span>商品评价</span></li>
                    <li id="PaymentHelp"><span>支付说明</span></li>
                    <li id="guide"><span>配送说明</span></li>
                    <li id="goumaijilu"><span>购买记录</span></li>
                </ul>
                <div class="details">
                    <ul class="suxing">
                        <li>商品货号: FSY000219</li>
                        <li>商品品牌: 其它品牌</li>
                    </ul>
                    <div class="xianqing top10">
                        <div class="l xianqing_et">
                            <div class="l xianqing_tie f14">宝贝详情</div>
                            <div class="l xianqing_nr f14">
                                <img src="http://www.68cmsmoban.com/images/201307/goods_img/219_P_1373370223228.jpg"
                                     alt="2013夏季防紫外线沙滩防晒衣女士透明超薄短款长袖正品防晒衫包邮"/>
                                <img src="http://www.68cmsmoban.com/images/201307/goods_img/219_P_1373370223150.jpg"
                                     alt="2013夏季防紫外线沙滩防晒衣女士透明超薄短款长袖正品防晒衫包邮"/>
                                <img src="http://www.68cmsmoban.com/images/201307/goods_img/219_P_1373370223346.jpg"
                                     alt="2013夏季防紫外线沙滩防晒衣女士透明超薄短款长袖正品防晒衫包邮"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="good_tj"></div>
        </div>
    </div>
    <div class="w l foot f12" id="foot">
        <div class="w1016 c">
            <div class="w l">
                <ul class="footnav lili lile w l">
                    <li>网站导航</li>
                    <li><a href="">酷衣轩官网</a></li>
                    <li><a href="">酷衣轩首页</a></li>
                    <li><a href="">酷衣轩社区</a></li>
                </ul>
            </div>
            <div class="w l sx">
                <ul class="lxnav lili lile l">
                    <li><a href="">关于本站</a></li>
                    <li><a href="">酷衣轩首页</a></li>
                    <li><a href="">酷衣轩社区</a></li>
                </ul>
                <div class="bq lili lile r"> 酷衣轩文化传播 www.jhzwed.com</div>
            </div>
        </div>
    </div>
</body>
</html>
