.mui-icon-cart{
    height: 21px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 4px;
    background: url(../images/cart.png) 0 0 no-repeat;
    background-position: 0 -21px;
    background-size: 50px 50px;
    width: 22px;
}
.clear {
    *zoom: 1;
}

.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.mui-btn-del{
    background: red;
    color: #ffffff;
    font-size: .9rem;
}

.menu {
    position: absolute;
    background: #f7ecb5;
    opacity: 0.8;
    border-radius: 5%;
    display: block;
    bottom:  0.6rem;
    right: 1rem;
    z-index: 999;
    line-height: 1.8rem;
    padding: 0.2rem 0.3rem;
}
.menu span{font-size: 1.2rem;}

